* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Metropolis-Medium";
}

@font-face {
  font-family: "Metropolis-Light";
  src: url("Metropolis/Metropolis-Light.otf");
}

@font-face {
  font-family: "Metropolis-Medium";
  src: url("Metropolis/Metropolis-Medium.otf");
}

.font-100 {
  font-family: "Metropolis-Light";
}

.font-500 {
  font-family: "Metropolis-Medium";
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  padding: 10px 30px;
  font-size: 13px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 0 10px;
}

nav ul a {
  font-family: "Metropolis-Light";
  color: #888;
  text-decoration: none;
}

nav ul a:hover {
  color: #d35266;
}

nav .nav-logo {
  max-width: 40px;
  height: 40px;
  display: inline-block;
}

nav .nav-logo img {
  width: 100%;
}

nav .profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Metropolis-Medium";
}

nav .profile-pic div {
  width: 30px;
  padding-left: 10px;
}

nav .profile-pic div img {
  border-radius: 15px;
  width: 100%;
}

nav .bg-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  padding-right: 10px;
}

nav .bg-icon img {
  width: 100%;
}

nav .mail {
  position: relative;
}

nav .mail::before {
  content: "3";
  font-size: 8px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
  background-color: #d35266;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0px;
  bottom: 6px;
  border-radius: 2px;
}

nav button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background-color: #d35266;
  color: #fff;
}

header {
  background-color: #d35266;
  padding: 30px;
  place-items: center;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 2.4rem;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

header h3 {
  font-size: 0.8rem;
  font-weight: 100;
  word-spacing: 2px;
  letter-spacing: 1.3px;
}

header .search-container {
  margin-top: 50px;
}

header .search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

header .search-container form select {
  background-color: #fff;
  color: #888;
  width: 100%;
  font-size: 12px;
  font-family: "Metropolis-Light";
}

header .search-container form input {
  background-color: #fff;
  padding: 8px;
  padding-left: 5px;
  margin-left: 1px;
  width: 100%;
  font-size: 12px;
  font-family: "Metropolis-Light";
}

header .search-container form .search-btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background-color: #383838;
  color: #888;
  font-weight: 100;
  border-radius: 0;
  margin-left: 5px;
  padding: 10px 20px;
}

main {
  width: 100%;
}

main .featured {
  max-width: 1310px;
  padding: 20px 50px;
  margin: 0 auto;
}

main .featured h2 {
  font-size: 23px;
  color: #888;
  text-align: left;
}

main .featured article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  padding-top: 20px;
}

main .featured article .phone-img {
  width: 300px;
}

main .featured article .phone-img img {
  width: 100%;
}

main .featured article .phone-details {
  margin-left: 20px;
}

main .featured article .phone-details h3 {
  color: #d35266;
  font-size: 18px;
  padding-bottom: 10px;
}

main .featured article .phone-details p {
  font-size: 14px;
  padding-bottom: 10px;
}

main .featured article .phone-details p span {
  font-family: "Metropolis-Light";
  color: #888;
}

main .featured article .phone-details .buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .featured article .phone-details .buy-btn button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background: #d35266;
  font-size: 15px;
  color: #fff;
}

main .featured article .phone-details .buy-btn button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

main .featured article .phone-details .buy-btn button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .featured article .phone-details .buy-btn button:last-child img {
  width: 12px;
  padding-right: 7px;
}

main .gray-bg {
  padding: 20px 10px;
  background-color: #f3f3f3;
}

main .gray-bg .fixed-w {
  max-width: 1200px;
  margin: 0 auto;
}

main .gray-bg .electronics, main .gray-bg .pets, main .gray-bg .fashion {
  position: relative;
}

main .gray-bg .tagline {
  padding-bottom: 20px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383838;
}

main .gray-bg .tagline img {
  width: 25px;
  display: inline-block;
  padding-right: 10px;
}

main .gray-bg .tagline p {
  display: inline-block;
}

main .gray-bg .tagline p span {
  color: #888;
  font-size: 12px;
}

main .gray-bg .tagline:after {
  content: "";
  width: 100%;
  position: absolute;
  margin-top: 10px;
  left: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
}

main .gray-bg ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 30px;
  list-style: none;
}

main .gray-bg ul li {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

main .gray-bg ul li .equal-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gray-bg ul li .equal-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .gray-bg ul li .product-data {
  padding: 10px;
}

main .gray-bg ul li h3 {
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 400;
}

main .gray-bg ul li span {
  color: #d35266;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}

main .gray-bg ul li p {
  font-family: "Metropolis-Light";
  font-size: 12px;
  padding-bottom: 10px;
}

main .gray-bg ul li div:not(.product-data) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .gray-bg ul li div:not(.product-data) span {
  display: block;
  font-size: 12px;
}

main .gray-bg ul li div:not(.product-data) span:first-child {
  color: #888;
  font-size: 14px;
  border: 1px solid #888;
  padding: 3px 7px;
}

footer .footer-nav {
  padding: 30px 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-top: 1px solid #ccc;
}

footer .footer-nav .about {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: justify;
}

footer .footer-nav .about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav .about div span {
  display: inline-block;
}

footer .footer-nav .about p {
  font-family: "Metropolis-Light";
  font-size: 14px;
}

footer .footer-nav .about img {
  height: 50px;
  padding-bottom: 10px;
}

footer .footer-nav .nav-lists {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footer-nav .nav-lists h2 {
  color: #d35266;
  padding-bottom: 5px;
}

footer .footer-nav .nav-lists ul {
  list-style: none;
  padding-top: 10px;
  position: relative;
  border-top: 1px solid #d35266;
}

footer .footer-nav .nav-lists ul li {
  padding-bottom: 10px;
}

footer .footer-nav .nav-lists ul li a {
  font-family: "Metropolis-Light";
  text-decoration: none;
  color: #888;
}

footer .footer-nav .nav-lists ul li a:hover {
  text-decoration: underline;
}

footer .footer-nav .region {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer-nav .region div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

footer .footer-nav .region div h2 {
  color: #d35266;
  text-align: left;
}

footer .footer-nav .region div button {
  font-family: "Metropolis-Light";
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  padding: 7px 15px;
  font-size: 13px;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f3f3f3;
}

footer .copyright .copyright-text {
  padding: 20px;
}

footer .copyright .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright .social-icons div {
  padding: 0 10px;
}

footer .copyright .social-icons img {
  height: 18px;
}

@media screen and (max-width: 550px) {
  header {
    display: none;
  }
  .featured {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */