$accent: #d35266;
$primary: #383838;
$secondary: #888;
$white: #fff;
$light: #f3f3f3;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Metropolis-Medium", sans-serif;
}

button,
a {
  cursor: pointer;
}

.gray-bg {
  background-color: #f3f3f3;
}

@font-face {
  font-family: "Metropolis-Light";
  src: url("Metropolis/Metropolis-Light.otf");
}

@font-face {
  font-family: "Metropolis-Medium";
  src: url("Metropolis/Metropolis-Medium.otf");
}

@mixin btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
}

@mixin font-100 {
  font-family: "Metropolis-Light", sans-serif;
}

@mixin font-500 {
  font-family: "Metropolis-Medium", sans-serif;
}

.font-100 {
  @include font-100;
}

.font-500 {
  @include font-500;
}

.mobile-show {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: 10px 30px;
  font-size: 13px;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    max-width: fit-content;

    li {
      padding: 0 10px;
    }

    a {
      @include font-100;

      color: $secondary;
      text-decoration: none;

      &:hover {
        color: $accent;
      }
    }
  }

  .nav-logo {
    max-width: 40px;
    height: 40px;
    display: inline-block;

    img {
      width: 100%;
    }
  }

  .bg-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 10px;

    img {
      width: 100%;
    }
  }

  .profile-pic {
    display: flex;
    align-items: center;
    color: $white;

    @include font-500;

    div {
      width: 30px;
      padding-left: 10px;

      img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }

  .mail {
    position: relative;

    &::before {
      content: "3";
      font-size: 8px;
      display: grid;
      place-content: center;
      color: $white;
      background-color: $accent;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 0;
      bottom: 6px;
      border-radius: 2px;
    }
  }

  button {
    @include btn;

    background-color: $accent;
    color: $white;
  }
}

header {
  background-color: $accent;
  padding: 30px;
  color: $white;
  text-align: center;

  h1 {
    font-size: 2.4rem;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 100;
    word-spacing: 2px;
    letter-spacing: 1.3px;
  }

  .search-container {
    margin-top: 50px;

    form {
      display: flex;
      justify-content: center;
      max-width: 800px;
      margin: auto;

      select {
        @include font-100;

        background-color: $white;
        color: $secondary;
        font-size: 12px;
        width: fit-content;
      }

      input {
        @include font-100;

        background-color: $white;
        padding: 8px;
        padding-left: 5px;
        margin-left: 1px;
        width: 100%;
        font-size: 12px;
      }

      .search-btn {
        @include btn;

        background-color: $primary;
        color: $secondary;
        font-weight: 100;
        border-radius: 0;
        margin-left: 5px;
        padding: 10px 20px;
      }
    }
  }
}

.result-page {
  text-align: left;

  div {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
  }

  .search-container {
    margin-top: 10px;

    form {
      max-width: inherit;

      select {
        color: $primary;

        @include font-500;
      }

      input {
        color: $primary;

        @include font-500;

        &::placeholder {
          color: $secondary;

          @include font-100;
        }
      }
    }
  }
}

main {
  width: 100%;

  .featured {
    max-width: 1310px;
    padding: 20px 50px;
    margin: 0 auto;

    h2 {
      font-size: 23px;
      color: $secondary;
      text-align: left;
    }

    .phone-img {
      width: 300px;

      img {
        width: 100%;
      }
    }

    .phone-details {
      margin-left: 20px;

      h3 {
        color: $accent;
        font-size: 18px;
        padding-bottom: 10px;
      }

      p {
        font-size: 14px;
        padding-bottom: 10px;

        span {
          @include font-100;

          color: $secondary;
        }
      }
    }

    article {
      display: grid;
      grid-template-columns: 300px 1fr;
      padding-top: 20px;
    }
  }

  .homepage {
    padding: 20px 10px;

    .equal-img {
      display: flex;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product-data {
      padding: 10px;
    }

    .fixed-w {
      max-width: 1200px;
      margin: 0 auto;
    }

    .electronics,
    .pets,
    .fashion,
    .automotives {
      position: relative;
    }

    .tagline {
      padding: 20px;
      display: flex;
      align-items: center;
      color: $primary;

      img {
        width: 25px;
        display: inline-block;
        padding-right: 10px;
      }

      p {
        display: inline-block;

        span {
          color: $secondary;
          font-size: 12px;
        }
      }

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        margin-top: 10px;
        left: 0;
        align-self: flex-end;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        display: block;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
      padding: 30px;
      list-style: none;

      li {
        background-color: $white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        h3 {
          font-size: 16px;
          padding-bottom: 5px;
          font-weight: 400;
        }

        span {
          color: $accent;
          padding-bottom: 5px;
          display: inline-block;
          font-size: 13px;
          font-weight: 700;
        }

        p {
          @include font-100;

          font-size: 12px;
          padding-bottom: 10px;
        }

        div:not(.product-data) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            display: block;
            font-size: 12px;

            &:first-child {
              color: $secondary;
              font-size: 14px;
              border: 1px solid $secondary;
              padding: 3px 7px;
            }
          }
        }
      }
    }
  }
}

.result-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;

  .homepage {
    padding: 20px 0;

    h2 {
      padding: 0 10px;
      padding-bottom: 10px;

      @include font-100;

      color: $secondary;
      font-size: 14px;
    }
  }

  .product-options {
    padding: 10px 25px;
    border-right: 1px solid #ccc;

    h3 {
      padding-bottom: 10px;
    }

    a {
      @include font-100;

      text-decoration: none;
      color: $secondary;
      font-size: 15px;

      &:hover {
        color: #383838;
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
    }

    li {
      padding-bottom: 3px;
    }

    form {
      display: grid;
      grid-template-columns: 1fr;
    }

    span {
      @include font-100;

      color: $secondary;
      font-size: 15px;
    }

    div {
      margin: 10px 0;
    }
  }

  .product-list {
    position: relative;
    border-top: 1px solid #ccc;
    width: 100%;

    ul {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    li {
      grid-template-columns: 1fr 1fr;

      div:not(.product-data) {
        span {
          &:first-child {
            border: 0;

            @include font-100;
          }
        }
      }
    }
  }
}

footer {
  .footer-nav {
    padding: 30px 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    border-top: 1px solid #ccc;

    .about {
      display: grid;
      place-items: center;
      text-align: justify;

      div {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          padding-left: 10px;
          font-size: 22px;
        }
      }

      p {
        @include font-100;

        font-size: 14px;
      }

      img {
        height: 50px;
        padding-bottom: 10px;
      }
    }

    .nav-lists {
      align-self: flex-start;
      display: flex;
      justify-content: space-around;

      h2 {
        color: $accent;
        padding-bottom: 5px;
      }

      ul {
        list-style: none;
        padding-top: 10px;
        position: relative;
        border-top: 1px solid $accent;

        li {
          padding-bottom: 10px;

          a {
            @include font-100;

            text-decoration: none;
            color: $secondary;

            &:hover {
              color: #000;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f3f3f3;

    .copyright-text {
      padding: 20px;
      color: $secondary;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        padding: 0 10px;
      }

      img {
        height: 18px;
      }
    }
  }
}

.buy-btn {
  display: flex;

  button {
    @include btn;

    background: $accent;
    font-size: 15px;
    color: $white;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid rgba(51, 51, 51, 0.5);
      display: flex;
      align-items: center;

      img {
        width: 12px;
        padding-right: 7px;
      }
    }
  }
}

.region {
  justify-self: center;
  align-self: center;

  div {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

    h2 {
      color: $accent;
      text-align: left;
    }

    button {
      @include font-100;

      margin-left: 10px;
      background-color: #fff;
      border: 1px solid $light;
      padding: 7px 15px;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }

  .featured {
    display: none;
  }

  .nav-profile {
    display: none;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  nav {
    padding: 10px 5px;

    ul {
      margin: 0 auto;
    }
  }

  .result-wrapper {
    grid-template-columns: 1fr;

    .product-options {
      display: none;
    }

    .product-list {
      ul {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }

      li {
        grid-template-columns: 1fr;
      }
    }
  }
}
