$accent: #d35266;
$primary: #383838;
$secondary: #888;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
}

@mixin btn {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 100;
    padding: 10px 13px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: 10px 30px;
  font-size: 13px;
  font-weight: 100;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    li {
      padding: 0 10px;
    }
    a {
      color: $secondary;
      text-decoration: none;
    }
  }
  .nav-logo {
    max-width: 40px;
    height: 40px;
    display: inline-block;
    img {
      width: 100%;
    }
  }

  .profile-pic {
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 500;
    div {
      width: 30px;
      padding-left: 10px;
      img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }

  .bg-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    padding-right: 10px;
    img {
      width: 100%;
    }
  }

  .mail {
    position: relative;
    &::before {
      content: "3";
      font-size: 8px;
      display: grid;
      place-content: center;
      color: $white;
      background-color: $accent;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 0px;
      bottom: 6px;
      border-radius: 2px;
    }
  }

  button {
    @include btn;
    background-color: $accent;
    color: $white;
  }
}

header {
  background-color: $accent;
  padding: 30px;
  place-items: center;
  color: $white;
  text-align: center;

  h1 {
    font-size: 2.4rem;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 100;
    word-spacing: 2px;
    letter-spacing: 1.3px;
  }

  .search-container {
    margin-top: 50px;

    form {
      display: flex;
      justify-content: center;
      max-width: 800px;
      margin: auto;

      select {
        background-color: $white;
        color: $secondary;
        width: 100%;
        font-size: 12px;
      }
  
      input {
        background-color: $white;
        padding: 8px;
        padding-left: 5px;
        margin-left: 1px;
        width: 100%;
        font-size: 12px;
      }

      .search-btn {
        @include btn;
        background-color: $primary;
        color: $secondary;
        font-weight: 100;
        border-radius: 0;
        margin-left: 5px;
        padding: 10px 20px;
      }
    }
  }
}

main {
  width: 100%;
  .featured {
    max-width: 1310px;
    padding: 20px 50px;
    margin: 0 auto;
    h2 {
      font-weight: 100;
      font-size: 23px;
      color: $secondary;
      text-align: left;
    }
    article {
      display: grid;
      grid-template-columns: 300px 1fr;
      padding-top: 20px;
      .phone-img {
        width: 300px;
        img {
          width: 100%;
        }
      }

      .phone-details {
        margin-left: 20px;
        h3 {
          color: $accent;
          font-size: 18px;
          padding-bottom: 10px;
        }
        p {
          font-size: 14px;
          padding-bottom: 10px;
          span {
            color: $secondary;
          }
        }

        .buy-btn {
          display: flex;
          button {
            @include btn;
            background: $accent;
            font-weight: 500;
            font-size: 15px;
            color: $white;
            &:first-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            &:last-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-left: 1px solid rgba(51, 51, 51, 0.5);
              display: flex;
              align-items: center;
              img {
                width: 12px;
                padding-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  .gray-bg {
    padding: 20px 10px;
    background-color: #f3f3f3;
    position: relative;

    .tagline {
      padding-bottom: 20px;
      padding: 20px 20px;
      display: flex;
      align-items: center;
      color: $primary;
      
      img {
        width: 25px;
        display: inline-block;
        padding-right: 10px;
      }

      p {
        display: inline-block;
        span {
          color: $secondary;
          font-size: 12px;
        }
      }
      &:after {
        content: "";
        width: 100%;
        position: absolute;
        margin-top: 10px;
        left: 0;
        align-self: flex-end;
        height: 1px;
        background-color: #aaa;
        display: block;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      list-style: none;
      li {
        background-color: $white;
        border: 1px solid #ccc;
        padding: 10px;

        a {
          color: $primary;
          text-decoration: none;

          img {
            width: 100%;
          }
          
          h3 {
            font-size: 16px;
            padding-bottom: 5px;
            font-weight: 400;
          }

          span {
            color: $accent;
            padding-bottom: 5px;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
          }

          p {
            font-weight: 100;
            font-size: 12px;
            padding-bottom: 10px;
          }

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              display: block;
              font-size: 12px;
              &:first-child {
                color: $secondary;
                font-size: 14px;
                border: 1px solid $secondary;
                padding: 3px 7px;
              }
            }
          }

        }
      }
    }
  }
}