* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #383838;
  padding: 10px 30px;
  font-size: 13px;
  font-weight: 100;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  padding: 0 10px;
}

nav ul a {
  color: #888;
  text-decoration: none;
}

nav .nav-logo {
  max-width: 40px;
  height: 40px;
  display: inline-block;
}

nav .nav-logo img {
  width: 100%;
}

nav .profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 500;
}

nav .profile-pic div {
  width: 30px;
  padding-left: 10px;
}

nav .profile-pic div img {
  border-radius: 15px;
  width: 100%;
}

nav .bg-icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  padding-right: 10px;
}

nav .bg-icon img {
  width: 100%;
}

nav .mail {
  position: relative;
}

nav .mail::before {
  content: "3";
  font-size: 8px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
  background-color: #d35266;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0px;
  bottom: 6px;
  border-radius: 2px;
}

nav button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background-color: #d35266;
  color: #fff;
}

header {
  background-color: #d35266;
  padding: 30px;
  place-items: center;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 2.4rem;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

header h3 {
  font-size: 0.8rem;
  font-weight: 100;
  word-spacing: 2px;
  letter-spacing: 1.3px;
}

header .search-container {
  margin-top: 50px;
}

header .search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

header .search-container form select {
  background-color: #fff;
  color: #888;
  width: 100%;
  font-size: 12px;
}

header .search-container form input {
  background-color: #fff;
  padding: 8px;
  padding-left: 5px;
  margin-left: 1px;
  width: 100%;
  font-size: 12px;
}

header .search-container form .search-btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background-color: #383838;
  color: #888;
  font-weight: 100;
  border-radius: 0;
  margin-left: 5px;
  padding: 10px 20px;
}

main {
  width: 100%;
}

main .featured {
  max-width: 1310px;
  padding: 20px 50px;
  margin: 0 auto;
}

main .featured h2 {
  font-weight: 100;
  font-size: 23px;
  color: #888;
  text-align: left;
}

main .featured article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  padding-top: 20px;
}

main .featured article .phone-img {
  width: 300px;
}

main .featured article .phone-img img {
  width: 100%;
}

main .featured article .phone-details {
  margin-left: 20px;
}

main .featured article .phone-details h3 {
  color: #d35266;
  font-size: 18px;
  padding-bottom: 10px;
}

main .featured article .phone-details p {
  font-size: 14px;
  padding-bottom: 10px;
}

main .featured article .phone-details p span {
  color: #888;
}

main .featured article .phone-details .buy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .featured article .phone-details .buy-btn button {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 100;
  padding: 10px 13px;
  background: #d35266;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

main .featured article .phone-details .buy-btn button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

main .featured article .phone-details .buy-btn button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgba(51, 51, 51, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .featured article .phone-details .buy-btn button:last-child img {
  width: 12px;
  padding-right: 7px;
}

main .gray-bg {
  padding: 20px 10px;
  background-color: #f3f3f3;
  position: relative;
}

main .gray-bg .tagline {
  padding-bottom: 20px;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #383838;
}

main .gray-bg .tagline img {
  width: 25px;
  display: inline-block;
  padding-right: 10px;
}

main .gray-bg .tagline p {
  display: inline-block;
}

main .gray-bg .tagline p span {
  color: #888;
  font-size: 12px;
}

main .gray-bg .tagline:after {
  content: "";
  width: 100%;
  position: absolute;
  margin-top: 10px;
  left: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 1px;
  background-color: #aaa;
  display: block;
}

main .gray-bg ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  list-style: none;
}

main .gray-bg ul li {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

main .gray-bg ul li a {
  color: #383838;
  text-decoration: none;
}

main .gray-bg ul li a img {
  width: 100%;
}

main .gray-bg ul li a h3 {
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 400;
}

main .gray-bg ul li a span {
  color: #d35266;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}

main .gray-bg ul li a p {
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 10px;
}

main .gray-bg ul li a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .gray-bg ul li a div span {
  display: block;
  font-size: 12px;
}

main .gray-bg ul li a div span:first-child {
  color: #888;
  font-size: 14px;
  border: 1px solid #888;
  padding: 3px 7px;
}
/*# sourceMappingURL=style.css.map */